# INTRODUCTION

I IMPORTED THE NECESSARY LIBRARY

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('/content/Salaries.csv')

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,NaN
148650,148651,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

In [ ]:
df = df.fillna(0)

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,0.0,San Francisco,0.0
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,0.0,San Francisco,0.0
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,0.0,San Francisco,0.0
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011,0.0,San Francisco,0.0
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,0.0,San Francisco,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148650,148651,Not provided,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148651,148652,Not provided,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148652,148653,Not provided,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,0.0,San Francisco,0.0

#1. Find The Occurence Of the Employee Names (Top 5

In [ ]:
employee_counts = df['EmployeeName'].value_counts().head(5)

In [ ]:
employee_counts

EmployeeName
Kevin Lee       13
Richard Lee     11
Steven Lee      11
William Wong    11
Stanley Lee      9
Name: count, dtype: int64

#2. Find The Number Of Unique Jobs Titles

In [ ]:
unique_job_titles = df['JobTitle'].nunique()

In [ ]:
unique_job_titles

2159

#3. Find The Total Number Of Job Titles Contain captain

In [ ]:
captain_jobs = df[df['JobTitle'].str.contains('Captain', case=False)]['JobTitle'].count()

In [ ]:
captain_jobs

552

#4. Display All the Employee Names from Fire Department

In [ ]:
fire_dept_employees = df[df['JobTitle'].str.contains('FIRE', case=False)]['EmployeeName']

In [ ]:
fire_dept_employees

4            PATRICK GARDNER
6                  ALSON LEE
8             MICHAEL MORRIS
9         JOANNE HAYES-WHITE
10             ARTHUR KENNEY
                 ...
145956      Kenneth C Farris
147556         Edward A Dunn
148021        Kari A Johnson
148209          Sheryl K Lee
148554       Lawrence F Gatt
Name: EmployeeName, Length: 5879, dtype: object

#5. Find The Minimum, Maximum and Average BasePay

In [ ]:
min_basepay = df['BasePay'].min()
max_basepay = df['BasePay'].max()
avg_basepay = df['BasePay'].mean()

In [ ]:
min_basepay

-166.01

In [ ]:
max_basepay

319275.01

In [ ]:
avg_basepay

66053.72928807836

#6. Replace 'Not provided' in EmployeeName Column to Nan

In [ ]:
df['EmployeeName'] = df['EmployeeName'].replace('Not provided', np.nan)

In [ ]:
df['EmployeeName']

0            NATHANIEL FORD
1              GARY JIMENEZ
2            ALBERT PARDINI
3         CHRISTOPHER CHONG
4           PATRICK GARDNER
                ...
148649        Roy I Tillery
148650                  NaN
148651                  NaN
148652                  NaN
148653            Joe Lopez
Name: EmployeeName, Length: 148654, dtype: object

#7. Drop The Rows Having 5 Missing Values

In [ ]:
df = df.dropna(thresh=len(df.columns) - 4)

In [ ]:
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,0.0,567595.43,567595.43,2011,0.0,San Francisco,0.0
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,0.0,538909.28,538909.28,2011,0.0,San Francisco,0.0
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,0.0,335279.91,335279.91,2011,0.0,San Francisco,0.0
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,0.0,332343.61,332343.61,2011,0.0,San Francisco,0.0
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,0.0,326373.19,326373.19,2011,0.0,San Francisco,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148650,148651,NaN,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148651,148652,NaN,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148652,148653,NaN,Not provided,0.00,0.00,0.00,0.0,0.00,0.00,2014,0.0,San Francisco,0.0
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.0,-618.13,-618.13,2014,0.0,San Francisco,0.0

#8. Find The Job Title Of ALBERT PARDINI

In [ ]:
albert_job_title = df[df['EmployeeName'] == 'PATRICK GARDNER']['JobTitle'].iloc[0]

In [ ]:
albert_job_title

'DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)'

#9. How Much ALBERT PARDINI makes (include Benefits

In [ ]:
albert_total_pay = df[df['EmployeeName'] == 'ALBERT PARDINI']['TotalPayBenefits'].iloc[0]

In [ ]:
albert_total_pay

335279.91

#10. Display Name Of The Person Having The Highest Basepay

In [ ]:
highest_basepay_person = df.loc[df['BasePay'].idxmax(), 'EmployeeName']

In [ ]:
highest_basepay_person

'Gregory P Suhr'

#11. Find The average Basepay of all Employees per Year

In [ ]:
avg_basepay_per_year = df.groupby('Year')['BasePay'].mean()

In [ ]:
avg_basepay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    68509.832156
2014    66557.437750
Name: BasePay, dtype: float64

#12. Find Average Basepay Of All Employee Per Job Title

In [ ]:
avg_basepay_per_job = df.groupby('JobTitle')['BasePay'].mean()

In [ ]:
avg_basepay_per_job

JobTitle
ACCOUNT CLERK                                     43300.806506
ACCOUNTANT                                        46643.172000
ACCOUNTANT INTERN                                 28732.663958
ACPO,JuvP, Juv Prob (SFERS)                       62290.780000
ACUPUNCTURIST                                     66374.400000
                                                      ...
X-RAY LABORATORY AIDE                             47664.773077
X-Ray Laboratory Aide                             46086.387100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS    52609.910000
Youth Comm Advisor                                39077.957500
ZOO CURATOR                                       43148.000000
Name: BasePay, Length: 2159, dtype: float64

#13. Find The Average Basepay of All Employee Having job Title Accountant

In [ ]:
accountant_avg_basepay = df[df['JobTitle'] == 'Accountant']['BasePay'].mean()

In [ ]:
accountant_avg_basepay

nan

#14. Five Most Common Jobs

In [ ]:
most_common_jobs = df['JobTitle'].value_counts().head(5)

In [ ]:
most_common_jobs

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64